@import './fonts.css' layer(base); /* for custom fonts */

@import 'tailwindcss';

@theme {
	--font-*: initial;
	--font-heading: minion-pro, sans-serif;
	--font-body: proxima-nova, sans-serif;

	--color-brand-orange: #eb5336;
	--color-brand-gray: #ebebeb;
	--color-brand-gray-dark: #32383b;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@utility btn {
	@apply transition-colors duration-300 ease-linear;
}

@utility btn-primary {
	@apply bg-brand-orange text-white;
}

@layer base {
	html {
		@apply font-body antialiased;
	}

	[x-cloak] {
		@apply hidden!;
	}

	.rich-text {
		@apply prose max-w-full prose-h3:text-2xl prose-h3:text-brand-orange prose-p:text-white prose-p:text-sm prose-h4:font-semibold prose-h4:text-lg prose-h4:text-brand-orange prose-li:text-sm prose-li:text-brand-orange marker:text-brand-orange prose-ul:list-outside prose-ul:list-disc;
	}
}
