---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Achievement'>
	<Header />
	<div class="bg-white py-10 md:py-12 relative">
		<div class="container">
			<div class="lg:w-2/3 mx-auto text-center pb-7 lg:pb-20">
				<h1 class="text-3xl md:text-4xl font-black text-brand-orange">Onze realisaties</h1>
				<div class="rich-text prose-p:text-brand-orange">
					<p>Bij VDZ realiseren we op maat gemaakte oplossingen die perfect aansluiten bij de wensen van onze klanten. Bekijk hier enkele van onze succesvolle projecten en ontdek wat wij voor jou kunnen betekenen.</p>
				</div>
			</div>
		</div>
		<div class="relative lg:-mt-10 mb-12 lg:mb-24">
			<div class="bg-brand-gray w-full lg:w-3/5 absolute top-0 lg:top-10 left-0 h-[45%] sm:h-[40%] md:h-[37%] lg:h-[75%]"></div>
			<div class="container flex flex-col lg:flex-row gap-10 pr-0 mr-0">
				<div class="lg:w-2/5 relative lg:py-10 pr-4">
					<div class="rich-text prose-p:text-brand-orange">
						<h4>Naam project</h4>
						<p>At porat. Ehende repudam fuga. Hillore pelesciis endundam idelecabo. Ro et apis el ipsusame voluptatis venitis molum fugiani tiscimi llitium acid eium ut et et officilitae endias vitatus esti voluptas reperaera dis consedist, nossunt etus dolorere, que volorrumquis ma cus, cu</p>
						<p>s et a cus atem reprempos dollitem. Onseque peroreh enihici liquae quam ressinci re vid evene maximpor alitenisi dolupta voluptium niscipsam doluptio. Nequiatem esti remporit, to mossimilitis volut et estotatus dempost iandae enienim illuptatem velites tincita turitas excerum quam, sit fu</p>
						<p>Sector: xxxxxxxxxx</p>
					</div>
				</div>
				<div class='lg:w-3/5 relative overflow-auto'>
					<div class='flex pr-0 whitespace-nowrap'>
						<div class='mr-0 flex flex-col md:flex-row md:items-center pr-0'>
							<div class='relative overflow-auto'>
								<div class='flex flex-col whitespace-nowrap mr-4'>
									<div class='flex h-[15rem] sm:h-[20rem] md:h-[25rem] shrink-0 gap-4'>
										<img
											src='/img/charging-station-for-electric-cars.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
										<img
											src='/img/charging-station-for-electric-cars.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover opacity-40 lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
										<img
											src='/img/charging-station-for-electric-cars.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover opacity-40 lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
									</div>
									<div class='relative mt-4 h-2 w-full bg-brand-orange/20 rounded-full'>
										<div class='bg-brand-orange absolute inset-y-0 left-0 h-full w-40 rounded-full'></div>
									</div>
									<div class="flex gap-2 mt-2">
										<button>
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-brand-orange">
												<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
											</svg>
										</button>
										<button>
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-brand-orange">
												<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="relative lg:-mt-10 mb-12 lg:mb-24">
			<div class="bg-brand-orange w-full lg:w-3/5 absolute top-0 lg:top-10 left-0 h-[45%] sm:h-[40%] md:h-[37%] lg:h-[75%]"></div>
			<div class="container flex flex-col lg:flex-row gap-10 pr-0 mr-0">
				<div class="lg:w-2/5 relative lg:py-10 pr-4">
					<div class="rich-text prose-h4:text-white">
						<h4>Naam project</h4>
						<p>At porat. Ehende repudam fuga. Hillore pelesciis endundam idelecabo. Ro et apis el ipsusame voluptatis venitis molum fugiani tiscimi llitium acid eium ut et et officilitae endias vitatus esti voluptas reperaera dis consedist, nossunt etus dolorere, que volorrumquis ma cus, cu</p>
						<p>s et a cus atem reprempos dollitem. Onseque peroreh enihici liquae quam ressinci re vid evene maximpor alitenisi dolupta voluptium niscipsam doluptio. Nequiatem esti remporit, to mossimilitis volut et estotatus dempost iandae enienim illuptatem velites tincita turitas excerum quam, sit fu</p>
						<p>Sector: xxxxxxxxxx</p>
					</div>
				</div>
				<div class='lg:w-3/5 relative overflow-auto'>
					<div class='flex pr-0 whitespace-nowrap'>
						<div class='mr-0 flex flex-col md:flex-row md:items-center pr-0'>
							<div class='relative overflow-auto'>
								<div class='flex flex-col whitespace-nowrap mr-4'>
									<div class='flex h-[15rem] sm:h-[20rem] md:h-[25rem] shrink-0 gap-4'>
										<img
											src='/img/execution.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
										<img
											src='/img/execution.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover opacity-40 lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
										<img
											src='/img/execution.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover opacity-40 lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
									</div>
									<div class='relative mt-4 h-2 w-full bg-brand-orange/20 rounded-full'>
										<div class='bg-brand-orange absolute inset-y-0 left-0 h-full w-40 rounded-full'></div>
									</div>
									<div class="flex gap-2 mt-2">
										<button>
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-brand-orange">
												<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
											</svg>
										</button>
										<button>
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-brand-orange">
												<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="relative lg:-mt-10">
			<div class="bg-brand-gray w-full lg:w-3/5 absolute top-0 lg:top-10 left-0 h-[45%] sm:h-[40%] md:h-[37%] lg:h-[75%]"></div>
			<div class="container flex flex-col lg:flex-row gap-10 pr-0 mr-0">
				<div class="lg:w-2/5 relative lg:py-10 pr-4">
					<div class="rich-text prose-p:text-brand-orange">
						<h4>Naam project</h4>
						<p>At porat. Ehende repudam fuga. Hillore pelesciis endundam idelecabo. Ro et apis el ipsusame voluptatis venitis molum fugiani tiscimi llitium acid eium ut et et officilitae endias vitatus esti voluptas reperaera dis consedist, nossunt etus dolorere, que volorrumquis ma cus, cu</p>
						<p>s et a cus atem reprempos dollitem. Onseque peroreh enihici liquae quam ressinci re vid evene maximpor alitenisi dolupta voluptium niscipsam doluptio. Nequiatem esti remporit, to mossimilitis volut et estotatus dempost iandae enienim illuptatem velites tincita turitas excerum quam, sit fu</p>
						<p>Sector: xxxxxxxxxx</p>
					</div>
				</div>
				<div class='lg:w-3/5 relative overflow-auto'>
					<div class='flex pr-0 whitespace-nowrap'>
						<div class='mr-0 flex flex-col md:flex-row md:items-center pr-0'>
							<div class='relative overflow-auto'>
								<div class='flex flex-col whitespace-nowrap mr-4'>
									<div class='flex h-[15rem] sm:h-[20rem] md:h-[25rem] shrink-0 gap-4'>
										<img
											src='/img/cables-to-the-panel.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
										<img
											src='/img/cables-to-the-panel.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover opacity-40 lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
										<img
											src='/img/cables-to-the-panel.jpg'
											class='h-full w-[20rem] sm:w-[33rem] shrink-0 object-cover opacity-40 lg:w-[30rem] xl:w-[39rem] rounded-3xl'
											alt=''
										/>
									</div>
									<div class='relative mt-4 h-2 w-full bg-brand-orange/20 rounded-full'>
										<div class='bg-brand-orange absolute inset-y-0 left-0 h-full w-40 rounded-full'></div>
									</div>
									<div class="flex gap-2 mt-2">
										<button>
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-brand-orange">
												<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
											</svg>
										</button>
										<button>
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-brand-orange">
												<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
