---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='News'>
	<Header />
		<div class="container py-10 sm:py-12">
			<h1 class="text-center text-3xl md:text-4xl font-black text-brand-orange pb-8 sm:pb-10">Nieuws</h1>
			<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8 xl:gap-14">
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
				<a href="/">
					<img src="/img/infrastructure.jpg" class="w-full h-48 sm:h-40 lg:h-56" alt="">
					<div class="pt-3">
						<span class="text-brand-orange font-bold text-xl lg:text-2xl pb-2 lg:pb-3 block object-cover">Titel</span>
						<p class="text-sm text-black mb-2 line-clamp-5">Dio que qui a nonem ulparibus mi, oditatia nis eum quos aut incturit rerspis experfe rumquunt, que doles aut fugia sinctat dolorumquam sa velendae nihilicim fugit la sundion sequisqui optaquunt voluptaquae atis ullabor ...</p>
						<span class="flex justify-between">
							<span class="text-sm text-brand-orange">2025-05-08</span>
							<button class="hover:text-black text-sm hover:underline text-brand-orange md:text-right uppercase">LEES MEER</button>
						</span>
					</div>
				</a>
			</div>
		</div>
	<Footer />
</Layout>
