---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Services'>
	<Header />
	<div class="bg-white py-10 md:py-12 relative">
		<div class="container">
			<h1 class="text-center text-3xl md:text-4xl font-black text-brand-orange pb-6 sm:pb-8">Onze diensten</h1>
			<div class="pb-10 md:pb-16 flex flex-wrap justify-center gap-x-2 gap-y-1">
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Laadinfrastructuur
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Batterijopslag
					</button>
				</div>
				<div class="group">
					<button class="bg-brand-orange group-hover:border-black group-hover:text-black text-white text-xs font-semibold min-w-40 border border-brand-orange rounded-full p-px">
						Duurzame energie
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Gebouwbeheer
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Engineering
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Bordenbouw
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Datanetwerken
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Hoogspanning
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Middleware
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Retrofitting
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Industriële automatisatie
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Robotica
					</button>
				</div>
				<div class="group">
					<button class="text-brand-orange group-hover:text-black btn text-xs font-semibold min-w-40 border border-brand-orange group-hover:border-black rounded-full p-px">
						Bekabeling
					</button>
				</div>
			</div>
		</div>
		<div class="bg-brand-orange relative pb-6 md:pb-0">
			<img src="/img/pattern.png" class="absolute inset-0 w-full h-full object-cover opacity-30 md:opacity-50 xl:opacity-100" alt="">
			<div class="container md:min-h-80 py-6 relative z-30">
				<div class="md:w-1/2 lg:w-2/5">
					<h3 class="font-black text-white text-2xl">Duurzame energie</h3>
					<div class="rich-text">
						<p>Bij VDZ geloven we in de kracht van duurzame energie als motor voor een betere toekomst. In een wereld waar energiekosten stijgen en de impact van klimaatverandering steeds zichtbaarder wordt, biedt duurzame energie een oplossing die niet alleen goed is voor het milieu, maar ook voor uw portemonnee.</p>
					</div>
				</div>
			</div>
			<div class="xl:mr-14 h-64 sm:h-90 md:h-[120%] w-full md:w-[45%] lg:w-1/2 xl:w-[40%] relative z-20 md:absolute md:right-4 xl:right-20 md:top-1/2 md:-translate-y-1/2 px-4 md:px-0">
				<img src="/img/solar-and-wind.webp" class="rounded-3xl sm:rounded-4xl object-cover object-[50%_38%] w-full h-full" alt="">
			</div>
		</div>
		<div class="bg-white pt-10 md:pt-28 md:pb-20 overflow-hidden">
			<div class="bg-brand-gray relative pt-8 md:pt-0">
				<img src="/img/solar-wind-color.jpeg" class="rounded-r-4xl md:absolute md:w-1/2 md:top-1/2 md:-translate-y-1/2 -left-0 md:h-[115%] object-cover -ml-6 sm:-ml-16 md:ml-0" alt="">
				<div class="container md:min-h-[515px] relative z-20">
					<div class="md:w-[45%] ml-auto xl:pr-24 pt-3 md:pt-7 pb-12 md:pb-7">
						<div class="rich-text prose-p:text-brand-orange">
							<p>Wij helpen particulieren en bedrijven bij het maken van bewuste keuzes die bijdragen aan een schonere toekomst. Of het nu gaat om zonnepanelen, warmtepompen of energieopslag, ons ervaren team staat klaar om u te begeleiden bij elke stap richting een duurzame energieoplossing.
							</p>
							<p>Kies voor VDZ en investeer in een groene, toekomstbestendige energievoorziening. Samen bouwen we aan een wereld waarin duurzame energie de norm is.</p>
						</div>
						<a href="/" class="inline-flex font-black text-lg/[26px] text-brand-orange border-2 border-brand-orange p-px rounded-full hover:text-black btn">
							<span class="bg-transparent border border-brand-orange block rounded-full px-3">offerte aanvragen</span>
						</a>
					</div>
				</div>
				<h2 class="text-[#e2e2e2] text-[250px]/[185px] lg:text-[300px]/[222px] xl:text-[400px]/[295px] font-semibold text-right -mr-5 absolute bottom-0 right-0">vdz</h2>
			</div>
		</div>
		<div class="border-t border-brand-orange relative">
			<div class="hidden md:block bg-brand-orange w-1 h-full absolute top-14 left-10 lg:left-11 z-10"></div>
			<div class="pl-4 flex flex-col md:flex-row items-center gap-2 md:gap-12 xl:gap-20 py-4 relative z-20">
				<div class="md:w-1/2 xl:w-2/5 pr-4 md:pr-0">
					<div class="inline-flex items-center gap-4 md:gap-6 bg-brand-orange rounded-full py-1 px-5">
						<span class="font-black text-2xl md:text-3xl text-white">1</span>
						<span class="text-xl md:text-2xl text-white font-black">Zonnepanelen</span>
					</div>
					<div class="md:pl-10 lg:pl-15">
						<div class="rich-text prose-p:text-brand-orange">
							<p>Zowel voor particuliere woningen als voor bedrijfsgebouwen bieden we groene elektriciteitsoplossingen op maat aan. Door het plaatsen van kwalitatieve fotovoltaïsche zonnepanelen wekt u zelf uw energie op. VDZ beheerst zowel de kleine als de grote installaties met ontkoppelkasten.</p>
							<p>We gaan steeds van start met het berekenen van uw potentiële rendement met een rendementsstudie. We checken uw situatie en gaan na of de dakstructuur het extra gewicht kan dragen. Is dit het geval, dan werken wij uw schema uit tot het legplan. We monteren en bekabelen de zonnepanelen en sluiten die tot slot aan op uw installatie of het elektriciteitsnet.</p>
						</div>
					</div>
				</div>
				<img src="/img/solar-panels.jpg" class="rounded-l-4xl w-full md:w-1/2 xl:w-3/5 ml-auto md:h-82 object-cover" alt="">
			</div>
			<div class="pl-4 flex flex-col md:flex-row items-center gap-2 md:gap-12 xl:gap-20 py-4 bg-brand-gray">
				<div class="md:w-1/2 xl:w-2/5 pr-4 md:pr-0 relative z-20">
					<div class="inline-flex items-center gap-4 md:gap-6 bg-brand-orange rounded-full py-1 px-5">
						<span class="font-black text-2xl md:text-3xl text-white">2</span>
						<span class="text-xl md:text-2xl text-white font-black">Batterijopslag</span>
					</div>
					<div class="md:pl-10 lg:pl-15">
						<div class="rich-text prose-p:text-brand-orange">
							<p>Op basis daarvan kiezen wij de beste elektrische componenten voor uw project uit. We tekenen het schema van de installatie uit in EPLAN en voeren de kortsluitstroom- en kabelberekeningen uit in Caneco BT.</p>
							<p>Alle engineeringsopdrachten zijn maatwerk van de bovenste plank. Wij doen niet aan standaardwerk, maar werken ieder project op maat uit. Alle projecten worden uitgevoerd conform de huidige kwaliteits- en veiligheidsnormen. Finaal zorgen we voor een technisch dossier voor uw installatie en project.</p>
						</div>
					</div>
				</div>
				<img src="/img/utility-scale-battery-storage.png" class="rounded-l-4xl w-full md:w-1/2 xl:w-3/5 ml-auto md:h-82 object-cover" alt="">
			</div>
			<div class="pl-4 flex flex-col md:flex-row items-center gap-2 md:gap-12 xl:gap-20 py-4 relative z-20">
				<div class="md:w-1/2 xl:w-2/5 pr-4 md:pr-0">
					<div class="inline-flex items-center gap-4 md:gap-6 bg-brand-orange rounded-full py-1 px-5">
						<span class="font-black text-2xl md:text-3xl text-white">3</span>
						<span class="text-xl md:text-2xl text-white font-black">Laadinfrastructuur</span>
					</div>
					<div class="md:pl-10 lg:pl-15">
						<div class="rich-text prose-p:text-brand-orange">
							<p>Op basis daarvan kiezen wij de beste elektrische componenten voor uw project uit. We tekenen het schema van de installatie uit in EPLAN en voeren de kortsluitstroom- en kabelberekeningen uit in Caneco BT.</p>
							<p>Alle engineeringsopdrachten zijn maatwerk van de bovenste plank. Wij doen niet aan standaardwerk, maar werken ieder project op maat uit. Alle projecten worden uitgevoerd conform de huidige kwaliteits- en veiligheidsnormen. Finaal zorgen we voor een technisch dossier voor uw installatie en project.</p>
						</div>
					</div>
				</div>
				<img src="/img/charging-infrastructure.png" class="rounded-l-4xl w-full md:w-1/2 xl:w-3/5 ml-auto md:h-82 object-cover" alt="">
			</div>
			<div class="pl-4 flex flex-col md:flex-row items-center gap-2 md:gap-12 xl:gap-20 py-4 bg-brand-gray">
				<div class="md:w-1/2 xl:w-2/5 pr-4 md:pr-0 relative z-20">
					<div class="inline-flex items-center gap-4 md:gap-6 bg-brand-orange rounded-full py-1 px-5">
						<span class="font-black text-2xl md:text-3xl text-white">4</span>
						<span class="text-xl md:text-2xl text-white font-black">WKK</span>
					</div>
					<div class="md:pl-10 lg:pl-15">
						<div class="rich-text prose-p:text-brand-orange">
							<p>Bij warmtekrachtkoppeling wordt warmte en elektriciteit op hetzelfde moment geproduceerd met behulp van een motor op één brandstof. Dat kan een fossiele brandstof (stookolie of aardgas) zijn of een hernieuwbare brandstof (biogas of biomassa).</p>
							<p>Deze techniek wordt voornamelijk ingezet in de tuinbouwsector. De CO2-uitstoot wordt gebruikt als voeding voor de gewassen. De warmteafgifte wordt gebruikt als verwarming in de serres. De opgewekte elektriciteit wordt gebruikt om het bedrijf van de nodige elektriciteit te voorzien. Het resterende vermogen wordt op het net geïnjecteerd.</p>
							<p>Het energielandschap verandert constant. Wees daarom voorbereid en zet in op duurzame energiebronnen zodat u geen stroomtekorten hebt. Groene stroom biedt de oplossing die u nodig hebt. Vraag een vrijblijvende offerte aan voor uw groene energieoplossing.</p>
						</div>
					</div>
				</div>
				<img src="/img/wkk.jpg" class="rounded-l-4xl w-full md:w-1/2 xl:w-3/5 ml-auto md:h-82 object-cover" alt="">
			</div>
			<div class="pl-4 flex flex-col md:flex-row items-center gap-2 md:gap-12 xl:gap-20 py-4 relative z-20">
				<div class="md:w-1/2 xl:w-2/5 pr-4 md:pr-0">
					<div class="inline-flex items-center gap-4 md:gap-6 bg-brand-orange rounded-full py-1 px-5">
						<span class="font-black text-2xl md:text-3xl text-white">5</span>
						<span class="text-xl md:text-2xl text-white font-black">Energiemanagement systemen</span>
					</div>
					<div class="md:pl-10 lg:pl-15">
						<div class="rich-text prose-p:text-brand-orange">
							<p>Op basis daarvan kiezen wij de beste elektrische componenten voor uw project uit. We tekenen het schema van de installatie uit in EPLAN en voeren de kortsluitstroom- en kabelberekeningen uit in Caneco BT.</p>
							<p>Alle engineeringsopdrachten zijn maatwerk van de bovenste plank. Wij doen niet aan standaardwerk, maar werken ieder project op maat uit. Alle projecten worden uitgevoerd conform de huidige kwaliteits- en veiligheidsnormen. Finaal zorgen we voor een technisch dossier voor uw installatie en project.</p>
						</div>
					</div>
				</div>
				<img src="/img/energy-management-system.webp" class="rounded-l-4xl w-full md:w-1/2 xl:w-3/5 ml-auto md:h-82 object-cover" alt="">
			</div>
		</div>
	</div>
	<Footer />
</Layout>
