---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Support'>
	<Header />
	<div class="bg-white py-10 md:py-12 relative">
		<div class="container">
			<h1 class="text-center text-3xl md:text-4xl font-black text-brand-orange pb-10 sm:pb-20">Support</h1>
		</div>
		<div class="bg-brand-orange relative pb-6 md:pb-0 relative">
			<img src="/img/pattern.png" class="absolute inset-0 w-full h-full object-cover opacity-30 md:opacity-50 xl:opacity-100" alt="">
			<div class="container md:min-h-80 py-6 relative z-20">
				<div class="md:w-1/2 lg:w-2/5">
					<h3 class="font-black text-white text-2xl">24/7 bereikbaar!</h3>
					<div class="rich-text">
						<p>De optimale werking van uw elektriciteit is cruciaal. Problemen met uw elektrische installatie of automatisatie kunnen uw volledige productie of het functioneren van uw bedrijf stilleggen. Dit kan u handenvol geld kosten. Net daarom hebben wij 24/7 een team van deskundige technici ter beschikking om u steeds bij te staan bij defecten.</p>
					</div>
					<span class="text-white font-bold text-sm block pb-2">BIJ DRINGENDE INTERVENTIE:</span>
					<span class="font-bold text-sm text-white block">tijdens kantooruren:</span>
					<a href="tel:+051322792" class="text-lg font-black text-white hover:text-black btn pb-2 block">051 32 27 92</a>
					<span class="font-bold text-sm text-white block">buiten kantooruren:</span>
					<a href="tel:+0475705800<" class="text-lg font-black text-white hover:text-black btn block">0475 70 58 00</a>
				</div>
			</div>
			<div class="xl:mr-14 h-64 sm:h-90 md:h-[120%] w-full md:w-[45%] lg:w-1/2 xl:w-[40%] relative z-20 md:absolute md:right-4 xl:right-20 md:top-1/2 md:-translate-y-1/2 px-4 md:px-0">
				<img src="/img/hero-support.jpg" class="rounded-3xl sm:rounded-4xl object-cover object-[50%_38%] w-full h-full" alt="">
			</div>
		</div>
		<div class="bg-white pt-10 md:pt-28 md:pb-12 overflow-hidden">
			<div class="bg-brand-gray relative pt-8 md:pt-0">
				<img src="/img/expertise.jpeg" class="rounded-r-4xl md:absolute md:w-1/2 md:top-1/2 md:-translate-y-1/2 -left-0 md:h-[115%] object-cover -ml-6 sm:-ml-16 md:ml-0" alt="">
				<div class="container md:min-h-[515px] relative z-20">
					<div class="md:w-[45%] ml-auto xl:pr-24 py-7">
						<div class="rich-text prose-p:text-brand-orange prose-h3:mt-0">
							<h3>Met kennis van zaken</h3>
							<p>Problemen? Onze ervaren en opgeleide service-engineers staan zo snel mogelijk ter plaatse om deze op te lossen. Zij kunnen gebruikmaken van onze steeds uitgebreide voorraad aan kwalitatieve wisselstukken. Bovendien kunnen wij rekenen op onze betrouwbare leveranciers voor een snelle levering als bepaalde componenten besteld moeten worden. Zo zijn uw installaties en machines in de kortste tijd weer up and running!
							</p>
							<h3>Efficiënt geholpen!</h3>
							<p>Ons doel? Een constructieve lange termijnsrelatie met u uitbouwen. Wij zijn uw solide partner voor alles wat met elektriciteit en automatisatie te maken heeft. Uw efficiëntie is daarbij ons uitgangspunt. Daarom hechten wij veel belang aan een goed onderhoud en een goede opvolging van uw elektrische installaties. Wij houden u steeds op de hoogte als er bepaalde onderdelen verouderd zijn of vervangen moeten worden. Zo komt u niet voor onaangename verrassingen te staan en kan u eventuele investeringen vooraf inschatten.</p>
						</div>
						<a href="/" class="inline-flex font-black text-lg/[26px] text-brand-orange border-2 border-brand-orange p-px rounded-full hover:text-black btn">
							<span class="bg-transparent border border-brand-orange block rounded-full px-3">contacteer ons</span>
						</a>
					</div>
				</div>
				<h2 class="text-[#e2e2e2] text-[250px]/[185px] lg:text-[300px]/[222px] xl:text-[400px]/[295px] font-semibold text-right -mr-5 absolute bottom-0 right-0">vdz</h2>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
