<div class="bg-brand-orange relative overflow-hidden">
	<img src="/img/pattern.png" class="absolute inset-0 object-[50%_100%] md:object-[50%_100%] w-full h-full object-cover scale-x-[-1] opacity-40" alt="">
	<div class="container py-4 relative z-50">
		<div class="flex justify-between items-center gap-10">
			<a href="/" class="shrink-0">
				<img src="/img/logo-dark.png" class="h-11 w-auto" alt="">
			</a>
			<div class="hidden lg:flex flex-col gap-3 justify-end items-end">
				<ul class="flex text-white items-center gap-5">
					<li>
						<a href="/" class="font-bold uppercase hover:text-black btn">HOME</a>
					</li>
					<li>
						<a href="/about" class="uppercase hover:text-black btn">OVER ONS</a>
					</li>
					<li>
						<a href="/services" class="uppercase hover:text-black btn">DIENSTEN</a>
					</li>
					<li>
						<a href="/achievement" class="uppercase hover:text-black btn">REALISATIES</a>
					</li>
					<li>
						<a href="/news" class="uppercase hover:text-black btn">NIEUWS</a>
					</li>
					<li>
						<a href="/jobs" class="uppercase hover:text-black btn">JOBS</a>
					</li>
					<li>
						<a href="/contact" class="uppercase hover:text-black btn">CONTACT</a>
					</li>
				</ul>
				<div class="flex items-center justify-end gap-4">
					<a href="/" class="font-black text-lg/[26px] text-brand-orange border border-white p-[2px] rounded-full hover:text-black btn">
						<span class="bg-white border border-transparent block rounded-full px-6">offerte aanvragen</span>
					</a>
					<a href="tel:+3251312792" class="font-black text-lg/[26px] text-brand-orange border border-white p-[2px] rounded-full hover:text-black btn">
						<span class="bg-white border border-transparent block rounded-full px-3">support +32 51 31 27 92</span>
					</a>
				</div>
			</div>
			<svg class="lg:hidden block text-white size-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
			</svg>
		</div>
	</div>
</div>
